@import url('https://fonts.googleapis.com/css2?family=Kristi&display=swap');
html{
    height: 98%;
}
body{
    background:linear-gradient(#ffffff,#ffadad);
    height:100%;
    margin:0;
    padding:0;
    border:0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow:hidden;
}
#title{
    font-size:60px;
    font-family:Kristi;
}
#bigdiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    width:200px;
    height:100px;
    border: 3px solid black;
    border-radius: 10px;
    font-size:20px;
    cursor:pointer;
    color:white;
}
#yes{
    background-color:#00bd00;
}
#no{
    background-color:#ff0000;
}
button:hover{
    transform:scale(1.1);
}
#heart{
    display:none;
    width:700px;
    height:auto;
}