@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');
body{
    width:auto;
    height: auto;
    margin:0;
    border:0;
    padding:0;
    padding-right:50px;
    padding-left:30px;
    font-family: "Old Standard TT";
    background-color:rgb(211, 211, 194);
    font-weight: 600;
    overflow-x: hidden;
}
#titleh1{
    text-align:center;
    font-weight: 700;
}
img{
    float:right;
    width:30%;
    height:auto;
    margin-left:30px;
}
#main{
    width:auto;
    height:auto;
}
.line{
    width:99%;
    height:auto;
    border:1px solid grey;
}
h2{
    font-weight: 600;
    font-size:1.5rem;
}
p{
    font-size:1.2rem;
}
li{
    line-height: 0.8;
}
#citat{
    height:auto;
    width:auto;
    border:1px solid black;
    padding:30px;
    margin-bottom:20px;
}
q{
    text-align: center;
    font-size:1.25rem;
}
a:hover{
    transform: scale(1, 1.5);
    transition-duration: 250ms;
}
footer{
    background-color: grey;
    padding:5px 20px;
    width:99%;
    position:absolute;
    left:0;
}
footer p{
    color:white;
    line-height: 0.8;
}
@media only screen and (max-width: 900px) {
    img{
        width:100%;
        margin:0;
        margin-bottom:30px;
    }
}
